/* Anatomy of a rule
# Each rule is broken down into the following blocks.

    * Display/visibility styles
    * Float/clear styles
    * Positioning (with coordinates) styles
    * Dimensions (width, height) styles
    * Spacing (margin, padding, border) styles
    * Background styles
    * Typography-related (line-height, color, etc.) styles
    * Miscellaneous (list-style, cursors, etc.) styles 

# The properties within each block are ordered alphabetically.
*/

/* DEFAULT STYLES
 1. html
 2. body
 3. headings -> h1 - h6
 4. text components -> p, blockquote, code, pre, address, em, strong
 5. links -> a, a:hover, a:active, a:visited
 6. lists -> ul, ol, li, dl, dt, dd
 7. tables -> table, thead, tr, th, tbody, td
 8. forms -> form, fieldset, legend, label, input, textarea, select, option
 9. misc -> img, object
10. global classes e.g. sifr
*/

/* default typography */

body {
	font: 62.5%/1.4 Helvetica, Arial,  Verdana, sans-serif; /* reset 1em to 10px */
}

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

p { }

blockquote{ }
code { }
pre { }
address { }
em { }
strong { }

a {}
a:hover {}
a:active {}
a:visited{}

ul {}
ol {}
li {}
dl {}
dt {}
dd {}

table {}
thead {}
tr {}
th {}
tbody {}
td {}

form {}
fieldset {}
legend {}
label {}
input {}
textarea {}
select {}
option {}

img {}
object {}




/* layout styles */

	body {
		height: 100%;
		width: 100%;
	}

	#wrapper { 
		width: 991px;
		margin: 0 auto 0 auto;
		padding: 0 18px;
	}
	
		/* header */
	
		#header { 
			height: 84px;
		}

		/* nav */

		#nav { 
			list-style: none;
		}
		
			#nav li { 

			}
		
			#nav li a { 
				display:block;
				text-decoration: none;
			}

		/* content */
		
		#content {

		}
		
		/* footer */
	
		#footer {

			
		}

	
		

/* SHARED COMPONENTS 
Ordered alphabetically
*/




/* PAGE SPECIFIC
* Ordered by site map e.g. homepage first
* Always prefix styles with id of page to ensure consistent specificity .e.g #news .article
*/

/* page specific */
	
	/* home */

		
		
